# Built-in function

In [ ]:
# Round
y  = 10.6
print(y)
y = round(y)
print(y)

10.6
11

In [5]:
#  Absolute value
y = -10.7
print(y)
print(abs(y))

-10.7
10.7

In [13]:
import math
math.sqrt(64)

8.0

In [16]:
print(y)

-10.7

# Constant in Python

In [25]:
from enum import Enum
class Constant(Enum):
    const1 = 100
    const2 = 2

In [30]:
Constant.const1.value

100

In [21]:
mango, orange, banana = range(3)

In [24]:
print(mango)
print(orange)
print(banana)

0
1
2

# User Input

In [42]:
in1 = complex(input("Input a number: "))

In [41]:
in1

(10+0j)

# Control Statement

In [45]:
# if-else
if 10 > 90:
    print("True")
elif 9 == 19:
    print("True 2")
else:
    print("Nothing")

Nothing

In [50]:
# Ternary Operation
res = print("10 is greater than 9") if 10 < 9 else print("9 is smaller than 10") if 9 == 10 else print("Nothing")
res

Nothing

# Python List

In [57]:
# Define A list
list1 = [10, 20, 30]
print(list1)

# Define using list constructor
list2 = list((1, 2, 3))
print(list2, type(list2))

[10, 20, 30]
[1, 2, 3] <class 'list'>

In [58]:
# Add new element in a list
# using append menthod
list2.append(4)
print(list2)

[1, 2, 3, 4]

In [62]:
list2 = [1, 2, 3, 4]
list2.append(5)
print(list2)

[1, 2, 3, 4, 5]

In [64]:
# Using extend method
list2.extend([10, 11, 12])
print(list2)

[1, 2, 3, 4, 5, 10, 11, 12]

In [65]:
# using += operator
list2 += [20, 21]
print(list2)

[1, 2, 3, 4, 5, 10, 11, 12, 20, 21]

In [72]:
# Remove element from list
list2= [1, 2, 3, 4, 5, 10, 11, 12, 20, 21]

list2.reverse()
list2

[21, 20, 12, 11, 10, 5, 4, 3, 2, 1]

In [78]:
#1
list2.count(10)
#2
print(10 in list2)

True

# Tuple
1. Unchangeable
2. Ordered
3. Duplicate value is allowed

In [80]:
tup = (1, 2, 3)
print(tup, type(tup))

(1, 2, 3) <class 'tuple'>

In [81]:
len(tup)

3

In [82]:
tup.count(1)

1

In [84]:
tup.index(2)

1

In [86]:
list3 = list(tup)
print(list3)
list3.append(4)
tup = tuple(list3)
print(tup, type(tup))

[1, 2, 3]
(1, 2, 3, 4) <class 'tuple'>

# Set
1. Unchangeable
2. Unordered
3. Unindexed
4. No multiple value

In [88]:
set1 = {3, 2 ,1, 4, 4}
print(set1)

{1, 2, 3, 4}

# Dictionary

In [ ]:
dict1 = {"key":"value", 1: "car", 2 : "Bus"}
print(dict1[2])

# Deefne using dict constructor
dict2 = dict(car = "Volbo", bus = "Ena", train = "Joyontika")
print(dict2, type(dict2))

Bus
{'car': 'Volbo', 'bus': 'Ena', 'train': 'Joyontika'} <class 'dict'>

# Loop

## For loop

In [108]:
for i in range(0, 10, 2):
    print(i, end=", ")
print()
for i in range(8):
    print(i, end=", ")
print()
for i in list2:
    print(i, end=", ")

print()
for i in "Hello world":
    print(i, end=", ")

0, 2, 4, 6, 8,
0, 1, 2, 3, 4, 5, 6, 7,
21, 20, 12, 11, 10, 5, 4, 3, 2, 1,
H, e, l, l, o,  , w, o, r, l, d,

## While Loop

In [114]:
i=-1
while i < 10:
    i += 1
    if i % 2 != 0:
        continue
    print(i, end=", ")

0, 2, 4, 6, 8, 10,