In [1]:
def something():
    print("Test!")

In [2]:
something()

Test!

# Heading

In [3]:
a = 10
print(a, type(a))

10 <class 'int'>

In [4]:
b = float(a)
print(b, type(b))
print(a, type(a))

10.0 <class 'float'>
10 <class 'int'>

In [5]:
a = float(a)
print(a, type(a))

10.0 <class 'float'>

In [6]:
a = complex(a)
print(a, type(a))

(10+0j) <class 'complex'>

In [ ]:
# Intiger
a = 10
# Floating Point
b = 10.5
c = 10e2 # 10 x 10^2 = 1000
d = 5E2 # 5 * 10^2 = 5 * 100 = 500
print(a,b,c,d)

10 10.5 1000.0 500.0

## Random Number

In [8]:
import random

In [11]:
print(random.randrange(1, 20))

7

# Python String

In [12]:
str1 = "Hello, World!" # 'Hello, World!'
print(str1, type(str1))

Hello, World! <class 'str'>

Multiline String

In [15]:
str2 = """This is a cat

he lives in sylhet"""

print(str2)

This is a cat

he lives in sylhet

In [16]:
print(str1[4])

o

for(int i = 0; i<10; i++)
{
    cout << i << endl;
}

In [22]:
for i in str1: # str1 = "Hello, World!", i = iterator
    print(i, end="")

Hello, World!

In [23]:
# Length of a string
print(len(str1))

13

In [26]:
print("a cat" in str2)

True

In [28]:
print("a dog" not in str2)

True

In [34]:
# Strring Slicing
# str1 = "Hello, World!" = "Hello"

print(str1[1:5]) # [start of the index, the index before the targeted lasat index]
print(str1[:5])
print(str1[5:])

ello
Hello
, World!

In [42]:
# Uppercase & Lower Case
str3 = "abcddddd"
STR3 = "ABCD"

print("str3",str3.upper())
print("STR3",STR3.lower())

str3 ABCDDDDD
STR3 abcd

In [43]:
# Character replace

str6 = "abbcdd"

print(str6.replace('d', 'W'))

abbcWW

In [45]:
# String Concatinate

a = "This is line 1"
b = "This is line 2"

c = a + " " + b

print(c)

This is line 1 This is line 2

In [48]:
d = "abc\tdef"
print(d)

abc	def

# Python Operrator

### Arithmatic Operator
+, -, /, *, **, %, //

In [56]:
print(3 + 2)
print(3 - 2)
print(3 * 2)
print(3 / 2) # Floating point int number return
print(3 // 2) # Floored integer return 10.9 ~ 10, 9.3 ~ 9
print(3 ** 3)
print(10 % 4) # 2 > n

5
1
6
1.5
1
27
2

### Assignment Operation
+=, -=, *=, /=,**=, %=

In [60]:
a = 10
a += 3 # a = a + 3
print(a)

a -= 4 # a = a - 4
print(a)

b = 3
b **= 2 # b = b ** 2
print(b)

13
9
9

### Comparesionn Operation
==, !=, >, <, >=, <=

In [63]:
print(3 <= 3)

True

### Logical Operation
and(&), or(|), ^(xor), ~(not)

In [ ]:
print(1 | 0)

1

# Operator Presidence
B O D M A S

In [72]:
expr = (2 + (3 - 2)) # (2 + 1) = 3
print(expr)

expr2 = (3 + 2 * 5)
print(expr2)

3
13

# Python Collections
1. List
2. Tuple
3. Set
4. Dictionary

## List
- Ordered [Have index] {1, 2, 3, 4}x / {5(0), 3(1), 2(2), 1(3)}✓[variable[index]]
- Changeable (1, 3, 2) -> (1, 5, 2)
- Allows multiple similar varriable/element {2, 2, 1}
- Allows multiple types of variable, [2, 3.5, "string"]

In [ ]:
list1 = [1, 2, 3, 4]
print(list1, type(list1))
print(list1[0], list1[1])

list1[1] = 10
print(list1)

list2 = [1, 2, 2, 3, 4, 4, 4]
print(list2)

list3 = [1, 3.5, "something"]
print(list3)

print("Length of list3:", len(list3))

[1, 2, 3, 4] <class 'list'>
1 2
[1, 10, 3, 4]
[1, 2, 2, 3, 4, 4, 4]
[1, 3.5, 'something']
Length of list3: 3

In [79]:
# Defining lists using constructor
list_c = list((1, 3, 5, 7, 3, 3))
print(list_c, type(list_c))

[1, 3, 5, 7, 3, 3] <class 'list'>